@use 'variaveis';

.elenco{
    &__hero{
        width: 98vw;
        height: 100vh;
        margin-left: 8px;
        margin-right: 8px;
    }    

    &__atores__items{
        display: flex;
        flex-wrap: wrap;

        &__ator{
            margin: 0;
            padding: 0;
            display: block;
            text-align: center;

            p{
                color: variaveis.$corTextoSecundario;    
                line-height: 16px;
            }
        }

    }   

    &__image{
        background-image: url(../../src/images/elenco/elenco.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }    

}
